<!DOCTYPE html>
<html>
<head>
<!--<link rel="icon" href="/static/img/icon.png"/>-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" src="./js/jquery-1.8.3.min.js"></script>


    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>    
    <link type="text/css" href="/static/bootstrap_3.1.1/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/static/bootstrap_3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/style.css?{% now "U" %}" />


    {% block header %}{% endblock %}

    <title>{% block title %}{{header}}{% endblock %}</title>

</head>

<body>
  <div class="container">
    <div class="header">

        {% block botonera %}
            <!--Botonera -->
            <nav class="navbar navbar-default" role="navigation">
              <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                  <a class="navbar-brand">{{header}}</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  {% block botonera_links%}

                  {% endblock %}
                  <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="/logout/?next=/"> {{ user.username }} (Logout)</a></li>
                    {% else %}
                        <li><a href="/login/?next=/">Login</a></li>
                    {% endif %}
                  </ul>
                </div><!-- /.navbar-collapse -->
              </div><!-- /.container-fluid -->
            </nav>
            <br/>
        {% endblock %}
    </div>

    {% block content %}{% endblock %}
  </div>

</body>
