{% extends "base.html" %}
{% load widget_tweaks%}

{% block header%} 
<script>
    function add_tag(new_tag,alert_invalid) {
        var tagpattern = new RegExp("^[A-Za-z0-9 ]+$");
        if (!tagpattern.test(new_tag)) {
            if (alert_invalid) {
                alert("Invalid data in new tag field.");
            }
            return;
        }
        var tags = document.getElementById("id_tags");
        var tagOption = new Option(new_tag, "new_tag_"+new_tag);
        tags.appendChild(tagOption);
        tagOption.selected=true;
        document.getElementById('id_custom_tag').value = "";
        refresh_input_tags();
    }

    function refresh_input_tags() {
        var tags = document.getElementById("id_tags");
        var input_tags = document.getElementById("id_input_tags");
        var value = "";
        var cont=0;
        for (var i = 0; i < tags.length; i++) {
             if (tags.options[i].selected) {
                if (cont != 0) {
                    value += ',';
                }
                value = value + tags.options[i].text;
                cont++;
            }
        }
        input_tags.value = value;
    }
</script> 

{%endblock%}

{%block content %}
<ol class="breadcrumb">
  <li><a href="/limages/">Training set</a></li>
  <li><a href="/segment_image/?id={{form_segment.image.value}}">Segment Image</a></li>
  <li class="active">Edit Segment</li>
</ol>
<div class="col-md-6 col-md-offset-2 col-sm-8 col-sm-offset-2 square">
    <form role="form" id="id_form_edit_segment" name="form_edit_segment" action='/edit_segment/' method="POST">
    {% csrf_token %}

          <input type="hidden" id="id_id" name="id" value="{{id_segment}}"/>
          <input type="hidden" id="id_image" name="image" value="{{form_segment.image.value}}"/>
            {{form_segment.x1}}
            {{form_segment.y1}}
            {{form_segment.x2}}
            {{form_segment.y2}}
            <br/>
            <div class="row">
                <div class="col-md-3">
                    <label for="id_filename">Filename</label>
                </div>
                <div class="col-md-8">
                    {{form_segment.filename | add_class:"form-control" | attr:"readonly:readonly" }}
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-3">
                    <label for="id_name">New tag</label>   
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <input class="form-control" id="id_custom_tag" value="" type="text"/>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-default" onclick="add_tag(document.getElementById('id_custom_tag').value,true);" title="Add"><span class="glyphicon glyphicon-plus"></span></button>
                    </div>                    
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-3">
                    <label for="id_tags">Tags</label>
                </div>
                <div class="col-md-8">
                    {{form_segment.tags | add_class:"form-control" | attr:"required:True" | attr:"size:15" }}
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-3">
                    <label for="id_file">Image </label><br/>
                </div>
                <div class="col-md-8">
                <img class="media-object" src="/static/{{form_segment.filename.value}}" style="max-width:400px;max-height:400px;">
            </div>
            <br/><br/><br/><br/><br/>
            <hr>
            <div class="row right">
                <input id="id_btn_save_segment"" name="btn_save_segment" class="btn btn-primary" type="submit" value="Save"/>
                <input id="id_btn_return" name="btn_return" formnovalidate class="btn btn-default" type="submit" value="Return"/>
            </div>
            <br/><br/><br/>
  
    </form>
</div>

{% endblock %}



