{% extends "base.html" %}
{% load widget_tweaks%}

{% block header%}  

    <script type="text/javascript">
    
        function select_row(id) {
            document.getElementById('id_selected_row').value = id;
        }

    </script>

{%endblock%}

{%block content %}
<ol class="breadcrumb">
  <li><a href="/limages/">Training set</a></li>
  <li class="active">Edit Image</li>
</ol>
<div class="col-md-6 col-md-offset-2 col-sm-8 col-sm-offset-2 square">
    <form role="form" id="id_form_edit_image" name="form_edit_image" action='/edit_image/' method="POST" enctype="multipart/form-data">
    {% csrf_token %}

          <input type="hidden" id="id_id" name="id" value="{{id_image}}"/>
          <input type="hidden" id="id_image_type" name="image_type" value="{{form_image.image_type.value}}"/>

            <div class="row">
                <div class="col-md-3">
                    <label for="id_name">Name</label>
                </div>
                <div class="col-md-9">
                    {{form_image.name | add_class:"form-control" | attr:"required:True" }}
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-3">
                    <label for="id_image_type">Training set</label>
                </div>
                <div class="col-md-9">
                    {{form_image.image_type | add_class:"form-control" | attr:"required:True" | attr:"disabled:disabled"}}
                </div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-3">
                    <label for="id_file">Image </label><br/>
                </div>
                <div class="col-md-9">
                    <img class="media-object" src="/static/{{form_image.filename.value}}" style="max-width:400px;max-height:400px;">
                </div>
            </div>

            <br/>
            <hr>
            <div class="row right">
                <input id="id_btn_save_image"" name="btn_save_image" class="btn btn-primary" type="submit" value="Save"/>
                <input id="id_btn_return" name="btn_return" formnovalidate class="btn btn-default" type="submit" value="Return"/>
            </div>
            <br/><br/><br/>
  
    </form>
</div>

{% endblock %}



