
<!--FAQ's-->

<div class="panel panel-default">
  <div class="panel-heading"><h4 style="color:#357EBD">What is HoneyBox.ml?</h4></div>
  <div class="panel-body">
  HoneyBox.ml is a software tool designed to help you in the image sementation and tagging problem. 
Getting a set of labeled segments from your own images hasn't never been easier.
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h4 style="color:#357EBD">Why this name?</h4></div>
  <div class="panel-body">
    Honeybox.ml is a wordgame combining the term "honeypot project" used by Andrew Ng in a video talking about what to do next in a machine learning project and the bounding boxes that a user does to capture the segments :)
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h4 style="color:#357EBD">Do you have a tutorial or video on how to use this software?</h4></div>
  <div class="panel-body">
    Not yet but,please, give it a try, you will be surprised on how easy is to get your training set in your matlab/octave box ;)
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-heading"><h4 style="color:#357EBD">What I will obtain using this tool?</h4></div>
  <div class="panel-body">
    For each training set that you segment you can get a zipfile with a folder for every tag filled with the images tagged by that tag or a matlab file with the following variables:
    <br/><br/>
            <ul>
                <li>X is a matrix with a row for every image. </li>
                <li>labels is an ordered list of strings with the tag names corresponding to variable Y.</li>
                <li>A binary matrix where the ith row indicates whether the ith image of X is tagged with tag j or not.</li>
            </ul>
    
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading"><h4 style="color:#357EBD">Do I need to create a user account to use this software?</h4></div>
  <div class="panel-body">
    You can get the first contact with the tool just clicking the button demo but, if you wan't to have your own private training sets a user account is necessary.
    
  </div>
</div>


