{% extends "base.html" %}
{% load widget_tweaks%}

{% block header%}  

    <script type="text/javascript">
    
        function select_row(id) {
            document.getElementById('id_selected_row').value = id;
        }


    </script>

{%endblock%}


{% block botonera_links%}
    <ul class="nav navbar-nav">
     {% for type in image_types%}
        <li ><a href="#{{type.name}}">{{type.name}} ({{type.get_count_images}})</a></li>
     {% endfor %}        
    </ul>

{% endblock %}
{%block content %}

<form role="form" id="id_form_limages" name="form_limages" action='/limages/' method="POST" enctype="multipart/form-data">
{% csrf_token %}
    
    <input type="hidden" id="id_selected_row" name="selected_row" value=""/>
    <div>
        <div class="btn-group">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Trainning set <span class="caret"></span></button>
          <ul class="dropdown-menu" role="menu">
            <li><a data-toggle="modal" data-target="#myModal_CreateImageType"><span class="glyphicon glyphicon-plus"></span>  New</a></li>
            <!--<li><a data-toggle="modal" data-target="#myModal_EditImageType"><span class="glyphicon glyphicon-pencil"></span>  Edit</a></li>-->
            <li><a data-toggle="modal" data-target="#myModal_ShareImageType"><span class="glyphicon glyphicon-share"></span>  Share</a></li>
            <li><a data-toggle="modal" data-target="#myModal_DeleteImageType"><span class="glyphicon glyphicon-trash"></span>  Delete</a></li>
            <li class="divider"></li>
            <li><a data-toggle="modal" data-target="#myModal_Download_Matlab"><span class="glyphicon glyphicon-download"></span>  Download (Matlab)</a></li>
            <li><a data-toggle="modal" data-target="#myModal_Download_Zip"><span class="glyphicon glyphicon-download"></span>  Download(.zip)</a></li>
          </ul>
        </div>
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal_CreateImage" title="Add Image">New Image</button>
    </div>
    <br/>
    {% if images_by_type%}
        <div class="table-responsive">
            <table class="table">
                {% for type in images_by_type %}
                    <tr><th colspan=5>
                            <div id="{{type.image_type}}">
                                {{type.image_type}}
                                <a href="/edit_imagetype/?id={{type.image_type_id}}" style="float:right;margin-right:15px;">
                                    <span class="glyphicon glyphicon-pencil" style="color:black"></span>
                                </a>
                            </div>
                        </th>
                    </tr>
                    <tr class="active">
                        <td>Name</td>
                        <td>Image</td>
                        <td>Segments</td>
                        <td></td>
                    </tr>
                    {% for image in type.rows %}
                    <tr>
                        
                        <td>{{image.name}}</td>
                        <td><img class="media-object" src="/static/{{image.filename}}" style="max-width:70px;max-height:70px;"></td> 
                        <td>{{image.get_count_segments}}</td>
                        <td align="right">
                            <a href="/edit_image/?id={{image.id}}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-pencil"></span></a>
                    
                            <a href="/segment_image/?id={{image.id}}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-screenshot"></span></a>
                            <button type="submit" class="btn btn-default" id="id_btn_remove_image" name="btn_remove_image" onclick="if ({{image.get_count_segments}} > 0) {alert('The image has segments. Try delete them before remove the image.');return false;} else {if (confirm('Are you sure you want to remove this image?')){select_row({{image.id}}); return true;}else {return false;}}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>  
                    <tr/>
                    {%endfor%}
                {% endfor%}
            </table>
        </div>
    {% endif%}
</form>

    {% include "modal_image.html" with form_image=form_image id_modal="CreateImage" %}

    {% include "modal_download_segments.html" with name="Matlab" image_types=image_types get_url="/get_matlab_file/" %}

    {% include "modal_download_segments.html" with name="Zip" image_types=image_types get_url="/get_zip_file/" %}


<!-- Modal Create image type-->
<div class="modal fade" id="myModal_CreateImageType" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel2">New Trainning set</h4>
      </div>
      <form role="form" id="id_form_create_image_type" name="form_create_image_type" action='/limages/' method="POST" enctype="multipart/form-data">
      {% csrf_token %}
          <div class="modal-body">
            <div class="form-group">
                <label for="id_name">Name</label>
                <input class="form-control" id="id_name_image_type" maxlength="50" name="name_image_type" required="True" type="text">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input id="id_btn_create_image_type" name="btn_create_image_type" class="btn btn-primary" type="submit" value="Create"/>
          </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal Share image type-->
<div class="modal fade" id="myModal_ShareImageType" tabindex="1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel3">Share Trainning set</h4>
      </div>
      <form role="form" id="id_form_share_image_type" name="form_share_image_type" action='/limages/' method="POST" enctype="multipart/form-data">
      {% csrf_token %}
          <div class="modal-body">
            <div class="form-group">
                <label for="id_name">Name</label>
                <select class="form-control" id="id_image_type" name="image_type" required="True">
                    <option value="" selected="selected">---------</option>
                    {% for image_type in image_types %}
                        <option value="{{image_type.id}}">{{image_type.name}}</option>
                    {% endfor%}
                </select>
            </div>
            <br/>
            <div class="form-group">
                <label for="id_name">Username</label>
                <input type="text" id="id_username" name="username" data-provide="typeahead" data-source="{{users}}" autocomplete="off" data-items="4" required="True" class="form-control"/>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input id="id_btn_share_image_type" name="btn_share_image_type" class="btn btn-primary" type="submit" value="Share"/>
          </div>
      </form>
    </div>
  </div>
</div>


<!-- Modal Delete image type-->
<div class="modal fade" id="myModal_DeleteImageType" tabindex="1" role="dialog" aria-labelledby="myModalLabel3" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel3">Delete Trainning set</h4>
      </div>
      <form role="form" id="id_form_delete_image_type" name="form_delete_image_type" action='/limages/' method="POST" enctype="multipart/form-data">
      {% csrf_token %}
          <div class="modal-body">
            <div class="form-group">
                <label for="id_name">Name</label>
                <select class="form-control" id="id_image_type" name="image_type" required="True">
                    <option value="" selected="selected">---------</option>
                    {% for image_type in image_types %}
                        <option value="{{image_type.id}}">{{image_type.name}}</option>
                    {% endfor%}
                </select>
            </div>
            <br/>
            <p><font style="color:#D43F3A">**</font> You must know you will remove the trainning set with all their tags, images and image's segments.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <input id="id_btn_delete_image_type" name="btn_delete_image_type" class="btn btn-danger" type="submit" value="Delete" onclick="return confirm('Are you sure you want to delete this trainning set?')"/>
          </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}



