{% extends "base.html" %}
{% load widget_tweaks%}    


{% block header%}  
<title>{% block title %}Register{% endblock %}</title>

{%endblock%}

{% block botonera %}{% endblock %}


{%block content %}
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 square_login">
        <!--<h2>Register</h2>-->
        <h1><font style="color:#357EBD">Honey</font><font style="color:black">Box</font> <small style="font-size:13px;">beta</small></a></h1>
        <hr>

    <form class="login" action="/register/" method="post" >
            {% csrf_token %}
            {% if form.errors.username %}
                <div class="alert alert-danger alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  {{form.errors.username}}
                </div>
            {% endif %}
            <div {% if form.errors.username %}class="input-group margin-bottom-20 has-error"{%else%}class="input-group margin-bottom-20"{%endif%}>
              <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
              {{form.username | add_class:"form-control" | attr:"placeholder:Username"}}
            </div>

            <div>&nbsp;</div>
            {% if form.errors.email %}
                <div class="alert alert-danger alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  {{form.errors.email}}
                </div>
            {% endif %}
            <div {% if form.errors.email %}class="input-group margin-bottom-20 has-error"{%else%}class="input-group margin-bottom-20"{%endif%}>
              <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
              {{form.email | add_class:"form-control" | attr:"placeholder:Email"}}
            </div>

            <div>&nbsp;</div>
            {% if form.errors.password1 %}
                <div class="alert alert-danger alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  {{form.errors.password1}}
                </div>
            {% endif %}
            <div {% if form.errors.password1 %}class="input-group margin-bottom-20 has-error"{%else%}class="input-group margin-bottom-20"{%endif%}>
              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
              {{form.password1 | add_class:"form-control" | attr:"placeholder:Password"}}
            </div>

            <div>&nbsp;</div>
            {% if form.errors.password2 %}
                <div class="alert alert-danger alert-dismissable">
                  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                  {{form.errors.password2}}
                </div>
            {% endif %}
            <div {% if form.errors.password2 %}class="input-group margin-bottom-20 has-error"{%else%}class="input-group margin-bottom-20"{%endif%}>
              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
              {{form.password2 | add_class:"form-control" | attr:"placeholder:Confirm Password"}}
            </div>
            <div>&nbsp;</div>
            <div ><input class="btn btn-primary" type="submit" value="Register" /></div>

        </form>
        <hr>
        Already Signed Up? Click <a href="/accounts/login">Sign In</a> to login your account.<br/>
    </div> 

</div>

{% endblock %}

{% block footer %} {% endblock%}
