{% extends "base.html" %}
{% load widget_tweaks%}

{%block title %} Selector de imatges {% endblock%}
{% block header%}  
    <script type="text/javascript">

        function select_row(id) {
            document.getElementById('id_selected_row').value = id;
        }
   
        function select_all_tags_draw() {
            var select_all_draw = document.getElementById('id_select_all_tags_draw').value;
            {% for tag, segments in tags.items%}
                {% if segments %}                   
                    if(select_all_draw == 'true') {
                        document.getElementById('id_{{tag}}').checked = true;
                    }
                    else {
                        document.getElementById('id_{{tag}}').checked= false;
                    }
                    if (select_all_draw == 'true') {
                        document.getElementById('id_link_select_all_draw').innerHTML='Deselect all';   
                        document.getElementById('id_select_all_tags_draw').value = 'false'; 
                    }
                    else {
                        document.getElementById('id_link_select_all_draw').innerHTML = 'Select all';
                        document.getElementById('id_select_all_tags_draw').value = 'true';
                    }
                {% endif%}
            {% endfor %}
            init_canvas();
        }

        function init_canvas() {
            var platform='pc';
	        var start='';
            var stop='';
            var move='';        
            if (platform=='iOS' || platform=='Android') {
                start='touchstart';
                stop='touchend';
                move='touchmove';
            } else if (platform=='pc') {
                start='mousedown';
                stop='mouseup';
                move='mousemove';
            }

            var canvas;
            var ctx;

            var canvasOffset;
            var offsetX;
            var offsetY;

            var isDrawing = false;

            canvas = document.getElementById("canvas");
            ctx = canvas.getContext("2d");

            var imageObj = new Image();
            imageObj.onload = function() {
                canvas.width=imageObj.width*{{zoom}};
                canvas.height=imageObj.height*{{zoom}};
                ctx.scale({{zoom}}, {{zoom}});
                ctx.drawImage(imageObj, 0, 0);
                draw_segments();
            };
            imageObj.src = '/static/{{form.filename.value}}';
            ctx.lineWidth = 1;
             
                
            
           
            canvasOffset = $("#canvas").offset();
            offsetX = canvasOffset.left;
            offsetY = canvasOffset.top;

            {% if not draw_segments %}
                $("#canvas").on(start, function (e) {
                    handleMouseDown(e);
                }).on(stop, function(e) {
                    handleMouseUp(e);
                }).on(move, function(e) {
                    handleMouseMove(e);
                }).on('mouseout', function(e) {
                    handleMouseOut(e);
                });
            {%endif %}



            var startX;
            var startY;

            function get_clientX(e) {
                if (platform=='iOS' || platform=='Android') {
                    return e.touches[0].clientX;
                } else if (platform=='pc') {
                    return e.clientX;
                }
            }

            function get_clientY(e) {
                if (platform=='iOS' || platform=='Android') {
                    return e.touches[0].clientY;
                } else if (platform=='pc') {
                    return e.clientY;
                }
            }

           function draw_segments() {
                {% if draw_segments %}
                    ctx.lineWidth="2";
                    ctx.strokeStyle="red";
                    {% for tag,segments in tags.items %}
                        {% for segment in segments %}
                            if (document.getElementById("id_{{tag}}").checked == true) {
                                ctx.rect({{segment.x1}}, {{segment.y1}}, {{segment.x2}}-{{segment.x1}}, {{segment.y2}}-{{segment.y1}});
                            }
                        {%endfor%} 
                    {% endfor %}
                    ctx.stroke(); 
                {% endif %}
            }

            function handleMouseUp(e) {
                e.preventDefault();
	            endX = parseInt(get_clientX(e) - offsetX + $(document).scrollLeft());
	            endY = parseInt(get_clientY(e) - offsetY + $(document).scrollTop());
	            isDrawing = false;
	            canvas.style.cursor = "default";	
                if (startX > endX) {
                    x = startX;
                    startX = endX;
                    endX = x;
                }
                if (startY > endY) {
                    y = startY;
                    startY = endY;
                    endY = y;
                }
                document.getElementById('id_x1').value = parseInt(startX/{{zoom}});
                document.getElementById('id_y1').value = parseInt(startY/{{zoom}});
                document.getElementById('id_x2').value = parseInt(endX/{{zoom}});
                document.getElementById('id_y2').value = parseInt(endY/{{zoom}});
                $('#myModal_Segment').modal('show');
            }

            function handleMouseMove(e) {               
                    e.preventDefault();
	                var mouseX = parseInt(get_clientX(e) - offsetX + $(document).scrollLeft());
	                var mouseY = parseInt(get_clientY(e) - offsetY + $(document).scrollTop());	
                    ctx.clearRect(0, 0, canvas.width, canvas.height);		
                    ctx.drawImage(imageObj, 0, 0);
                    ctx.beginPath();
                    ctx.moveTo(0,mouseY/{{zoom}});
                    ctx.lineTo(canvas.width/{{zoom}},mouseY/{{zoom}});
                    ctx.moveTo(mouseX/{{zoom}},0);
                    ctx.lineTo(mouseX/{{zoom}},canvas.height/{{zoom}});     
                    if (isDrawing) {					
	                    ctx.rect(startX/{{zoom}}, startY/{{zoom}}, (mouseX - startX)/{{zoom}}, (mouseY - startY)/{{zoom}});	
                    }	
	                ctx.stroke();
            }

            function handleMouseDown(e) {
                e.preventDefault();
	            canvas.style.cursor = "crosshair";		
	            isDrawing = true;
	            startX = parseInt(get_clientX(e) - offsetX + $(document).scrollLeft());
	            startY = parseInt(get_clientY(e) - offsetY + $(document).scrollTop());
            }

            function handleMouseOut(e) {
                e.preventDefault();
                ctx.clearRect(0, 0, canvas.width, canvas.height);		
                ctx.drawImage(imageObj, 0, 0); 
            }

        }


        $( document ).ready(function() {
            init_canvas();
        });
    </script>

{%endblock%}

{%block content %}

<form role="form" id="id_form_segment_image" name="form_segment_image" action='/segment_image/' method="POST">
{% csrf_token %}
    <input type="hidden" id="id_selected_row" name="selected_row" value=""/>   
    <input type="hidden" id="id_image" name="image" value="{{id_image}}"/>
    <input type="hidden" id="id_zoom" name="zoom" value="{{zoom}}"/>
    <input type="hidden" id="id_draw_segments" name="draw_segments" value="{{draw_segments}}"/>
    <input type="hidden" id="id_select_all_tags_draw" name="select_all_tags_draw" value="false"/>

    <ol class="breadcrumb">
      <li><a href="/limages/">Trainning set</a></li>
      <li class="active">Segment Image</li>
    </ol>

    <button type="submit" class="btn btn-default" id="id_btn_zoom_in" name="btn_zoom_in">
        <span class="glyphicon glyphicon-zoom-in"></span>
    </button>
    <button type="submit" class="btn btn-default" id="id_btn_zoom_out" name="btn_zoom_out">
        <span class="glyphicon glyphicon-zoom-out"></span>
    </button>
    {% if segments %}
        {% if draw_segments %}
            <a role="button" class="btn btn-default" href="/segment_image/?id={{id_image}}&zoom={{zoom}}&draw_segments=False">
                <span class="glyphicon glyphicon-picture"></span>
            </a>
        {% else %}
            <a role="button" class="btn btn-default" href="/segment_image/?id={{id_image}}&zoom={{zoom}}&draw_segments=True">
                <span class="glyphicon glyphicon-th-large"></span>
            </a>
        {% endif %}
    {% endif %}
    <br/><br/>
    <div id="id_div_canvas">
        <canvas id="canvas" class="segmentation"></canvas>
    </div>
    <br/>
    {% if draw_segments and tags%}
        <div>&nbsp;</div>
        <div class="panel panel-default">
          <div class="panel-heading">Tags
                <div style="float:right;">
                    <a id="id_link_select_all_draw" onclick="select_all_tags_draw();" style="margin-right:15px;">Deselect all</a>
                </div>
          </div>
          <div class="panel-body">
            {% for tag, segments in tags.items%}
                {% if segments %}
                    <div class="col-md-3">
                        <div class="checkbox">
                            <label>
                              <input type="checkbox" id="id_{{tag}}" checked onchange="init_canvas();"/> {{tag}}
                            </label>
                        </div>
                    </div>
                {% endif%}
            {% endfor %}
          </div>
        </div>
    {% endif %}
    <div>&nbsp;</div>
    <hr>
    <div class="row right">        
        {% if segments %}
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal_Download_Matlab">Download (Matlab)</button>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal_Download_Zip">Download (.zip)</button>
            <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal_GenerateImages">Generate Images</button>
        {% endif %}
        <button type="submit" class="btn btn-default" id="id_btn_return" name="btn_return">Return</button>
    </div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    <div>&nbsp;</div>
    {% if segments %}
        <h4>Segments</h4>
        <br/>
        
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>Segment Image</th>
                    <th>Size</th>
                    <th>Tags</th>
                    <th></th>
                </tr>
                {%for segment in segments %}
                    <tr>
                        <td><img class="media-object" src="/static/{{segment.filename}}" style="max-width:70px;max-height:50px;"/></td>
                        <td>{{segment.get_width}} x {{segment.get_height}} px</td>
                        <td>{% for tag in segment.tags.all %}{{tag}},{%endfor%}</td>
                        <td align="right">       
                            <a href="/edit_segment/?id={{segment.id}}" class="btn btn-default" role="button"><span class="glyphicon glyphicon-pencil"></span></a>                    
                            <button type="submit" class="btn btn-default" id="id_btn_remove_segment" name="btn_remove_segment" onclick="if (confirm('Are you sure you want to remove this segment?')){select_row({{segment.id}}); return true;}else {return false;}">
                                <span class="glyphicon glyphicon-trash"></span>
                            </button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endif %}
    
    <hr>

    <br/><br/><br/><br/><br/><br/>



</form>


{% include "modal_segment_image.html" with form_segment=form_segment zoom=zoom id_image=id_image %}

{% include "modal_generate_images.html" with form_generate_images=form_generate_images zoom=zoom id_image=id_image%}

{% include "modal_download_segments.html" with name="Matlab" image_types=image_types get_url="/get_matlab_file/" %}

{% include "modal_download_segments.html" with name="Zip" image_types=image_types get_url="/get_zip_file/" %}


{% endblock %}

