body {
    margin-top:20px;
}

div.square {
    color: #555;
    padding: 30px;
    background: none repeat scroll 0% 0% #FEFEFE;
}

div.square_login_image {
    color: #555;
    padding: 30px;
    background: none repeat scroll 0% 0% #FEFEFE;
    border: 1px solid #EEE;
    box-shadow: 0px 0px 3px #EEE;
    margin-top:15px;
}

div.square_login {
    color: #555;
    padding: 30px;
    background: none repeat scroll 0% 0% #FEFEFE;
    border: 1px solid #EEE;
    box-shadow: 0px 0px 3px #EEE;
    margin-top:50px;
}

div.right {
    float:right;
    padding-right:20px;
}

canvas.segmentation {
    border:1px solid #428bca;
    display: inline-block;
}

table.table th {
    background-color: #E7E7E7; /*#E7E7E7;  #F8F8F8*/
}

.carousel-caption {
    position: absolute;
    left: 50%;
    right: 5%;
    top: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #FFF;
    text-align: center;
    text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
    max-height:300px;
}

.coneptum-jumbotron {
/*color: inherit;*/
background: rgba(0,0,0,0.6);
}

