body {
    margin-top:20px;
}

div.square {
    color: #555;
    padding: 30px;
    background: none repeat scroll 0% 0% #FEFEFE;
}

div.square_login {
    color: #555;
    padding: 30px;
    background: none repeat scroll 0% 0% #FEFEFE;
    border: 1px solid #EEE;
    box-shadow: 0px 0px 3px #EEE;
    margin-top:50px;
}

div.right {
    float:right;
    padding-right:20px;
}

canvas.segmentation {
    border:1px solid #428bca;
    display: inline-block;
}

table.table th {
    background-color: #E7E7E7;
}


