{% extends "base.html" %}
{% load widget_tweaks%}    


{% block header%}  
<script>
    function demo_login() {
        document.getElementById('id_username').value = 'demo';
        document.getElementById('id_password').value = 'demo';
        document.getElementById('id_btn_login').click();
    }
    function login() {
        document.getElementById('id_username').value = '';
        $('#myModal_Login').modal('show');
    }
</script>


<title>{% block title %}HoneyBox{% endblock %}</title>

{%endblock%}

{% block botonera %}{% endblock %}


{%block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <h1><font style="color:#357EBD">Honey</font><font style="color:black">Box</font> <small style="font-size:13px;">beta</small></a></h1>
    </div>
    <div class="col-md-2 col-md-offset-4">
        <div style="margin-top:15px;">
               <button class="btn btn-primary btn-lg" onclick="demo_login();">
                  Demo
                </button>
                <button class="btn btn-primary btn-lg" onclick="login();" >
                  Login
                </button>
        </div>
    </div>
</div>
<div class="row">    
    <div class="col-md-10 col-md-offset-1 col-sm-12" style="margin-top:15px;">
        <img src="/static/images/segment.png" width=100% />
        <div class="carousel-caption jumbotron coneptum-jumbotron">
            <h2>Sometimes it's not who has the best algorithm that wins; <br/>it's who has the most data!</h2>
            <a href="#id_faqs" class="btn btn-primary btn-lg" onclick="document.getElementById('id_faqs').style.display='initial';">
            Learn more
            </a>
        </div>
    </div>
</div>

<div id="id_faqs" class="col-md-10 col-md-offset-1" style="display:none">
    <br/>
    <h3> <font style="color:#357EBD">FAQ</font><font style="color:black">'S</font></h3>
    <hr>
    {% include "faqs_text.html"%}
</div>


<!--footer for login -->
<div class="col-md-10 col-md-offset-1">
    <hr>
    <div class="row">
        <div class="right" style="color:#555555">
            Contact/Feedback: <a href="mailto:honeyboxml@gmail.com" target="_top">honeyboxml@gmail.com</a>
        </div>
    </div>
    <br/><br/><br/>
</div>

{% include "modal_login.html" %}

{% endblock %}
{% block footer%}{% endblock%}



