{% extends "base.html" %}
{% load widget_tweaks%}    


{% block header%}  
<script>
    function demo_login() {
        document.getElementById('id_username').value = 'demo';
        document.getElementById('id_password').value = 'demo';
        document.getElementById('id_btn_login').click();
    }
    function login() {
        document.getElementById('id_username').value = '';
        $('#myModal_Login').modal('show');
    }
</script>


<title>{% block title %}HoneyBox{% endblock %}</title>

{%endblock%}

{% block botonera %}{% endblock %}


{%block content %}
<div class="row">
    <div class="col-md-4 col-md-offset-1">
        <h1><font style="color:#357EBD">Honey</font><font style="color:black">Box</font> <small style="font-size:13px;">beta</small></a></h1>
    </div>
    <div class="col-md-2 col-md-offset-4">
        <div style="margin-top:15px;">
               <button class="btn btn-primary btn-lg" onclick="demo_login();">
                  Demo
                </button>
                <button class="btn btn-primary btn-lg" onclick="login();" >
                  Login
                </button>
        </div>
    </div>
</div>
<div class="row">    
    <div class="col-md-10 col-md-offset-1 col-sm-12" style="margin-top:15px;">
        <img src="/static/images/segment.png" width=100% />
        <div class="carousel-caption jumbotron coneptum-jumbotron">
            <h2>Sometimes it's not who has the best algorithm that wins; <br/>it's who has the most data!</h2>
            <a href="#id_faqs" class="btn btn-primary btn-lg" onclick="document.getElementById('id_faqs').style.display='initial';">
            Learn more
            </a>
        </div>
    </div>
</div>

<div id="id_faqs" class="col-md-10 col-md-offset-1" style="display:none">
<br/>
    <h2> <font style="color:#357EBD">FAQ</font><font style="color:black">'S</font></h2>
    <hr>
    <div class="panel panel-default">
      <div class="panel-heading"><h4 style="color:#357EBD">Why this name?</h4></div>
      <div class="panel-body">
        Honeybox.ml is a wordgame combining the term "honeypot project used by Andrew Ng in a video talking about what to do next in a ML project" and the bounding boxes that a user does to capture the segments :)
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading"><h4 style="color:#357EBD">What is HoneyBox.ml?</h4></div>
      <div class="panel-body">
            We can segment images by rectangles and tag this segments with one or more tags. I think that this is applicable to a variety of problems such as object detection( I am using it for this), face detection, face recognition, pedestrian detection, etc... not only for text. I hope I will be able to release some instruccions on the following days. For now, just a brieve description of functionalities:
                <br/><br/>
                1) The system is organized in training sets composed by one or more images. Each image can have one or more segments which can be tagged with one or more tags. The tags used with every segment are shared with every segment and every image that belongs to the same training set.
                <br/><br/>
                2) Once a training set( a set of images composed by segments) is tagged, the user can download the training set in a variety of formats(color,grayscale,edge detection) all in matlab or zip format. The matlab files are organized as follows: 
                <ul>
                    <li>X is a matrix with a row for every image. </li>
                    <li>labels is an ordered list of strings with the tag names corresponding to variable Y.</li>
                    <li>A binary matrix where the ith row indicates whether the ith image of X is tagged with tag j or not.</li>
                </ul>
                The zip format is very simple: a folder for every tag wich contains the images tagged by this tag. 
                3) Another interesting functionality allows you to generate a set of images for a second training set starting from a set of tags of a training set or image. The first applicability of this use case is for computer vision pipelines such as the described on the photo ocr videos but I think that could be useful on other problem domains.
        <br/> 
      </div>
    </div>
</div>


<!--footer for login -->
<div class="col-md-10 col-md-offset-1">
    <hr>
    <div class="row">
        <div class="right" style="color:#555555">
            Contact/Feedback: <a href="mailto:honeyboxml@gmail.com" target="_top">honeyboxml@gmail.com</a>
        </div>
    </div>
    <br/><br/><br/>
</div>

{% include "modal_login.html" %}

{% endblock %}
{% block footer%}{% endblock%}



