{% extends "base.html" %}
{% load widget_tweaks%}    


{% block header%}  
<title>{% block title %}Change Password{% endblock %}</title>

{%endblock%}

{% block botonera %}{% endblock %}


{%block content %}
    <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 square_login">
        <h1><font style="color:#357EBD">Honey</font><font style="color:black">Box</font> <small style="font-size:13px;">beta</small></a></h1>
        <!--<h2>Change Password</h2>-->
        <hr>
        <form class="login" method="post" action="">
            {% csrf_token %}
            <div>&nbsp;</div>
            {% if form.errors.new_password1 %}
                <div style="color:#A94442">
                    {{form.errors.new_password1}}
                </div>
            {% endif %}            
            <div {% if form.errors.new_password1 %}class="input-group margin-bottom-20 has-error"{%else%}class="input-group margin-bottom-20"{%endif%}>
              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
              {{form.new_password1 | add_class:"form-control" | attr:"placeholder:New Password"}}
            </div>
            <div>&nbsp;</div>
            {% if form.errors.new_password2 %}
                <div style="color:#A94442">
                    {{form.errors.new_password2}}
                </div>
            {% endif %}    
            <div {% if form.errors.new_password2 %}class="input-group margin-bottom-20 has-error"{%else%}class="input-group margin-bottom-20"{%endif%}>
              <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
              {{form.new_password2 | add_class:"form-control" | attr:"placeholder:Confirm Password"}}
            </div>
            <div>&nbsp;</div><div>&nbsp;</div>
            <div align="center"><input class="btn btn-primary" type="submit" value="Change my password" /></div>
        </form>
        <br/>
    </div> 

</div>

{% endblock %}

{% block footer %} {% endblock%}

